/* Error: Undefined variable.
 *   ,
 * 7 |     "color_1": $color_pallate_1, 
 *   |                ^^^^^^^^^^^^^^^^
 *   '
 *   ../abstracts/_maps.scss 7:16  @import
 *   _reset.scss 1:9               @import
 *   _base.scss 3:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a   \2577 \a 7 \2502      "color_1": $color_pallate_1, \d\a   \2502                 ^^^^^^^^^^^^^^^^\a   \2575 \a   ../abstracts/_maps.scss 7:16  @import\a   _reset.scss 1:9               @import\a   _base.scss 3:9                root stylesheet';
}
