@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


.btn {
  color: #fff !important;
  border-radius: 10px !important;
  padding-top: 8px !important;
  font-weight: bold !important;
  &:hover,&:focus{
    background-color: #fff !important;
  }
  &:disabled {
    background-color: #cecece !important;
    color: grey !important;
    border-color: grey !important;
    cursor: not-allowed;
  }
  &:disabled:hover {
    color: grey !important;
  }
}

.btn-search {
  background: #768801;
  color: #fff ;
  border-radius: 10px !important;
  padding: 8px !important;
  font-weight: bold !important;
  border: white;
  &:hover,&:focus{
    border: 1px #768801 solid;
    background: #fff;
    color: #768801;
  }

  &:disabled:hover {
    color: #768801 !important;
  }
}

.btn-secondary {
  background-color:#004156 !important;
  border-color: #004156 !important;
  &:hover,&:focus{
    color: #004156 !important;
  }
}

.color-blue-cs{
  color: #004156 !important;
}

.cus-infos{
  background-color: #dfe6e9 !important;
  color: rgb(105, 143, 156);
  padding: 8px 25px;
  border-radius: 1em;
  font-weight: 500;
}

.cus-form-input{
  border-radius: 1em;
  background: transparent;
  border: 2px solid #004156 !important;
}
.cus-form-input::placeholder{
  background: transparent;
}

.btn-primary {
  background-color: #4DAF27 !important;
  border-color: #4DAF27 !important;
  &:hover,&:focus{
    color: #4DAF27 !important;
  }
}

.btn-primary-two {
  background-color: #4DAF27 !important;
  border-color: #4DAF27 !important;
  &:hover,&:focus{
    color: #4DAF27 !important;
  }
}

.btn-info {
  background-color: #2EABBF !important;
  border-color: #2EABBF !important;
  &:hover,&:focus{
    color: #2EABBF !important;
  }
}

.btn.btn-add-master {
  &:hover,&:focus{
    background-color: #004156 !important;
  }
  background-color: #004156 !important;
}

.btn-danger {
  background-color:#FF2E2E !important;
  border-color: #FF2E2E !important;
  &:hover,&:focus{
    color: #FF2E2E !important;
  }
}

.btn-grey{
  background-color:grey !important;
  border-color: grey !important;
  &:hover,&:focus{
    color: white !important;
  }
}
.bg-grey:hover{
  background-color: gray;
}

.password-reveal {
  bottom: 10px;
  font-size: 20px;
  right: 8px;
}

.password-reveals{
  position: absolute;
  right: 1.6em;
  bottom: 4.7em;
  font-size: 20px;
}

.text-success{
  color: #4DAF27 !important;
}

.text-blue{
  color: #004156 !important;
}

.text-red{
  color: #DC0101 !important;
}

.bg-blue-op{
  background-color: #C9D6DB !important;
}

.bg-green-op{
  background-color: #E1F0DF !important;
}

.border-blue-op{
  border: 2px solid;
  border-radius: 1em;
  //border-color: #C9D6DB !important;
  border-color: white;
  text-align: center;
}

.color-blue-op{
  color: #004156;
  opacity: 0.69;
}

.border-green{
  outline: thin solid #4DAF27;
}

.bg-blue{
  background-color: #004156 !important;
  color: white;
  background-clip: content-box;
}



.table-historique{
  border-collapse: separate;
  border-spacing: 0 20px;
  background-color: transparent;
  // padding: 0 1rem;

}

.tbody-padding{
  padding: 5em;
}

div, span, label, input, button, p  {
  font-family: 'Metropolis', serif;
}

.backgr{
  background-color: transparent !important;
}

.modal-border{
  border: none;
}

.modal-success-border{
  border-radius: 1em;
}

[data-header-position="fixed"] .header {
  z-index: 4;
}

.no-input{
  border: none;
  &:focus{
    border: none;
  }
  &:hover{
    border: none;
  }
}

[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li {
  padding: 0 !important;
}
[data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li > a {
  padding: 5px 10px !important;
}
