@import "mixins";

.form-file-text {
  color: #004156;
  font-weight: 500;
  font-size: 22px;
}

.custom-file-label {
  background-color: transparent !important;
  border: 0 !important;
  padding: 0 !important;
}

.input--file {
  .custom-file-label {
    height: 70px !important;
    margin-top: -20px;
  }

  .custom-file-input~.custom-file-label[data-browse]::after {
    display: none
  }
}

[data-headerbg="color_1"] .nav-header .hamburger.is-active .line,
[data-headerbg="color_1"] .nav-header .hamburger .line {
  background: #004156 !important;
}

.rounded-pill {
  // box-shadow: 0px 0px 20px #00000029;
  background: #fff;
  border: 2px solid #004156 !important;
  border-radius: 18px;
  color: #004156 !important;

  span {
    color: #004156;
  }
}

.rounded-pill:hover,
.rounded-pill:focus {
  background: #004155 !important;
  color: #fff !important;

  span {
    color: #fff;
  }
}

.content-body {
  min-height: 879px !important;
}

.fa-eye,
.fa-eye:before {
  color: #004156;
}

.modal-open .modal {
  backdrop-filter: blur(2px);
}

.amount {
  font-weight: bold;
  color: #4DAF27;
  opacity: 99%;
}

.table-historique {
  position: relative;
  top: -20px;
}
.header-right .header-profile > a.nav-link .header-info {
  text-align: left;
  padding-right: 30px;
  text-transform: capitalize;
}

tbody tr td:nth-child(2) {
  padding-right: 0;
  padding-left: 0;
}

.table:not(.table-bordered) thead th {
  vertical-align: middle !important;
}

.large-tooltip .tooltip-inner {
  max-width: 250px !important;
}

#CtkDateTimePicker-input {
  border-radius: 31px;
  background-color: #c2d2d7;
  color: #004156;
  min-height: 31px !important;
  height: 38px !important;
  border-color: transparent;
}

.table tbody tr  {
  white-space: nowrap;
  td{
    color:#004156;
    font: normal normal 900 20px Poppins;
  }
}
.input--file:hover,
.custom-file-label:hover,
.input--file:focus,
.custom-file-label:focus,{
  cursor: pointer;
}
.form-control:disabled:focus, .form-control[readonly]:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}


.bg-greenPerso{
  div{
    padding: 10px;
    color: white;
    font: normal normal 900 18px Poppins;
  }
  background-color: #768801 ;
  //padding: 20px;
  //font-size: 30px;
  border: none;
  color: white;
  //font: normal normal 900 15px Poppins;
  text-align: center;
}


.modal-body{

  .body-tr-element{
    font: normal normal 900 20px Poppins;
    text-align: center;
    border: none;
    background: white;
    &:hover {
      cursor: pointer;
      background: rgba(248, 247, 247, 0.87);
    }
  }
}

.dropdown-menu-right + .dropdown-menu{
  background: white;
  .dropdown-item{
    color: #768801;
  }
}


